<% if @stock %>
<div class="card card-header results-block">
<strong> Symbol: <%= @stock.ticker %> </strong>
<strong> Company name: <%= @stock.name %> </strong>
<strong> Price: <%= @stock.last_price %> </strong>
</div>
<% end %>